<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- ở đây ko thể tạo 1 style.css trong folder views r gọi ra như v đc, vì code nó ko ăn-->
    <!-- <link rel="stylesheet" href="style.css">   -->
    <!-- nên mình sẽ qua index.js định nghĩa r cho nó r cho nó vào folder public   -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap"
        rel="stylesheet">
</head>
<body>
    <%- include('header') -%>

    <%- include('footer') -%>
</body>
</html>